
.badge {
    line-height: 1.1;
}
.page-header {
    padding: 25px 30px;
    border-bottom: solid 1px #eeeeee;
    position: relative;
    z-index: 2;
}

.page {
    min-height: calc(100vh - 110px);
}

.page-header-actions .list-group-item{
    float: left;
    padding: .5rem .9rem;
    font-size: .9rem;
    font-weight: 500;
}

.page-content-table .dropdown-item{
    text-decoration: none;
}

.page-content-table .table>tbody>tr>td,
.page-content-table .table>thead>tr>th{
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

[data-feedback].error {
    color: #ff4c52;
    padding-top: 5px;
    text-align: left
  }

  .login-form label{
      display: block;
      text-align: left
  }

  .site-menubar ul {
    margin-top: 1rem;
}

.navbar-right {
    margin-right: 1rem;
}

.modal-body hr{
    margin-left: -20px;
    margin-right: -20px;
}

.dataTables_paginate {
    float: right;
    justify-content: flex-end;
    margin: 2px 0;
    white-space: nowrap;
}

.paginate_button {
    position: relative;
    display: inline-block;
    padding: .643rem 1.072rem;
    margin-left: -1px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: transparent;
    border: 1px solid #e4eaec;
    transition: background .2s ease-out, border-color 0s ease-out,color .2s ease-out;
    cursor: pointer;
}

.paginate_button:focus, .paginate_button:hover {
    text-decoration: none;
    transition: background .2s ease-out,border-color .2s ease-out,color .2s ease-out;
    color: #589ffc;
    text-decoration: none;
    background-color: #f3f7f9;
    border-color: #e4eaec;
}

.paginate_button.previous {
    margin-left: 0;
    border-top-left-radius: .215rem;
    border-bottom-left-radius: .215rem;
}

.paginate_button.next {
    border-top-right-radius: .215rem;
    border-bottom-right-radius: .215rem;
}

.paginate_button.disabled {
    color: #ccd5db;
    pointer-events: none;
    background-color: transparent;
    border-color: #e4eaec;
}

.paginate_button.current {
    z-index: 2;
    color: #fff;
    background-color: #3e8ef7;
    border-color: #3e8ef7;
    z-index: 3;
}

.form-group.option-list{
    position: relative;
}

.form-group.option-list input{
    width: calc(100% - 150px);
}

.form-group.option-list.full input{
    width: calc(100% - 30px);
}

.form-group.option-list label{
    float: left;
    width: 120px;
    margin: 0;
    padding: 6px 0;
    font-size: small;
}

.form-group.option-list i{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    color: #999;
    padding: 7px 9px;
}

.form-group.option-list.full i{
    padding: 5px 9px;
}

.form-group.option-list i:hover{
    color: #ff4c52;
}

.sort-list{
    padding: 0;
    margin: 0;
    border: solid 1px #f1f1f1
}

.sort-list li{
    list-style: none;
    display: block;
    padding: .8rem 1rem;
    border-bottom: solid 1px #f1f1f1;
}

.sort-list li:last-child{
    border-bottom: none
}

.sort-list li i{
    font-size: .8rem;
    color: #ccc;
    position: relative;
    top: -1px;
    padding-right: .8rem;
    cursor: row-resize
}

.dropdown-menu.dropdown-menu-bullet:before {
    top: -14px;
}

.dropdown-menu.dropdown-menu-bullet:after {
    top: -13px;
}

span.dropdown{
    display: inline-block;
}

.dropdown-menu-form{
    min-width: 350px;
    padding: 15px;
}

.dropdown-menu-form .form-group:last-child{
    margin-bottom: 0;
}

.list-group-item .icon {
    margin-right: 5px;
}

.datepicker.datepicker-dropdown{
    z-index: 9999 !important;
}

._loader_block__{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #a2a2a238;
    z-index: 99999999999;
    left: 0;
}

.div-table .row{
}

.div-table .row [class^="col-"]{
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
}

.div-table .th{
    font-weight: 600;
}

.modal .table>thead>tr>th:first-child, .modal .table>tbody>tr td:first-child {
    padding-left: 20px;
}

.modal .table>tbody>tr td:last-child, .modal .table>thead>tr>th:last-child {
    padding-right: 20px;
}

.basket-summary{
    padding: 0;
    margin: 0;
}

.basket-summary li{
    list-style: none;
    display: block;
    padding: 5px 0;
    text-align: right;
}

.basket-summary li > span{
    float: right;
    font-weight: 400;
    width: 50%;
    display: inline-block;
}

.basket-summary li:last-child, .basket-summary li:last-child > span{
    font-size: 15px;
    font-weight: 600;
    color: #333;
}


.modal .panel-group .panel-title, .modal .panel-group .panel-collapse .panel-body {
    padding: 15px 20px;
}

.avatar.avatar-no-radius{
    border-radius: 0;
    width: 60px;
}
.avatar.avatar-no-radius img{
    border-radius: 0;
}

.navbar-avatar{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    line-height: 20px !important;
}

.navbar-avatar span:first-child{
    padding: 0px 15px;
    display: inline-block;
    text-align: right;
    font-size: 13px;
    position: relative;
    top: 7px;
}

.font-weight-600{
    font-weight: 600;
}

.line-height-1{
    line-height: 1
}

.line-height-1-2{
    line-height: 1.2
}
.line-height-1-3{
    line-height: 1.3
}
.line-height-1-4{
    line-height: 1.4
}
.line-height-1-5{
    line-height: 1.5
}

.row.row-less{
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.row.row-less [class^="col-"] {
    padding-left: .5rem;
    padding-right: .5rem;
}